</main>

<footer >
    <p class="footer">Copyright © <%= new Date().getFullYear()%></p>
    <ul class="links">
        <li><a href="https://www.facebook.com/">Facebook</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
        <li><a href="https://twitter.com/">X</a></li>
    </ul>
</footer>
</body>
</html>