<%- include("partials/header.ejs") %>

<div class="container">
  <h1>My Blogs</h1>

  <% if (posts.length === 0) { %>
    <p>No posts yet. Be the first to create one!</p>
  <% } %>

  <% posts.forEach(post => { %>
    <div class="post">
      <h2><%= post.title %></h2>
      <p><%= post.post %></p>
      <hr>
    </div>
  <% }) %>

</div>

<%- include("partials/footer.ejs") %>